body{
    margin:0;
    padding:20px;
    background:#1e293b;
    font-family:Arial, sans-serif;
    color:white;
}

.header{
    background:#334155;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

.header h1{
    margin:0;
}

.info{
    margin-top:10px;
    font-size:14px;
}

.container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:#334155;
    width:220px;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.card h2{
    margin-top:0;
    font-size:18px;
    color:#cbd5e1;
}

.value{
    font-size:40px;
    font-weight:bold;
}

.unit{
    font-size:18px;
}

.online{
    color:#22c55e;
}

.offline{
    color:#ef4444;
}

.chart-container{
    margin-top:30px;
    background:#334155;
    padding:20px;
    border-radius:12px;
}